.assignment-show {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.assignment-show h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 16px;
    text-align: center;
}

.assignment-show p {
    font-size: 16px;
    color: #555;
    margin-bottom: 12px;
}

.assignment-show .assignment-info {
    margin-bottom: 20px;
}

.assignment-show .assignment-info span {
    display: block;
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

.assignment-show .attachments {
    margin-top: 20px;
}

.assignment-show .attachments h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.assignment-show .attachments ul {
    list-style: none;
    padding: 0;
}

.assignment-show .attachments ul li {
    margin-bottom: 8px;
}

.assignment-show .attachments ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    transition: color 0.3s;
}

.assignment-show .attachments ul li a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.assignment-show .questions {
    margin-top: 20px;
}

.assignment-show .questions h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.assignment-show .questions ul {
    list-style: decimal inside;
    padding: 0;
    margin: 0;
}

.assignment-show .questions ul li {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

.submit-button,
.back-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #5a0b55;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.submit-button:hover,
.back-button:hover {
    background-color: #820e7a;
}

.assignment-actions {
    margin-top: 20px;
    gap: 20px;
}

.submit-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.btn-assignment-show {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-assignment-show button {
    margin-right: 4px;
}

.btn-assignment-show button:first-child {
    margin-left: 300px;
}

.assignment-attachments h3 {
    font-weight: 350;
}

.assignment-attachments ul {
    list-style: none;
    padding: 0;
}

.assignment-attachments ul li {
    margin-bottom: 10px;
}

.assignment-attachments ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: color 0.3s;
    margin-left: 12px;
}